/*
  File: /~eoleary/css/table.css
  Author: Evan O'Leary
  Contact: evan_oleary@student.uml.edu
  Created on: October 18, 2015 
  Updated on: November 19, 2015
  This file contains the styling information for the dynamic table in assignment 6 and 8.
*/
html{
    font-size: 12px;
}

body{
    padding:0;
    margin:0;
    background-color: #eee; /*gray/white*/
    color:#000;
    font-family:"Bitstream Vera Sans",Verdana,Arial,sans-serif;
    min-width:780px;
    margin:auto;
}

h1{
    margin-left: 575px;
}

#allcontent {
    width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eee;  /* grey/white */
    margin-left: auto;
    margin-right: auto;
}

#centered{
    margin-left: 430px;
}

#rack_area{
    margin-top: 20px;
    margin-bottom: 20px;
}

#the_rack{
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 400px;
}

#button_score_center{
    margin-left: 120px;
}

#score{
    margin-left: 40px;
}

#word{
    margin-left: 40px;
}


/*styling for the clear button*/
#clear{
    display: inline-block;
    /*float: left;*/
    margin-top: 0px;
    margin-left: 217px;
}

/*The following css is modified from Jason Downing's implementation all his comments
are left in as well*/
table {
  border: solid 3px black;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

td {
  background: #D2B48C;
  border: solid 1px white;
  height: 50px;
  width: 50px;
  z-index: 3;   /*  THIS IS INCREDIBLY IMPORTANT. SEE THIS URL FOR DETAILS:
                    https://stackoverflow.com/questions/15712011/why-does-drag-go-behind-target-div */
}

/* For the "Letters Remaining" Table */
table#letters_remain {
  border: solid 5px red;
}

/* For the "Letters Remaining" section */
td.larger_td {
  background: black;      /* Text properties */
  color: white;
  font-size: 150%;
  text-align: center;      /* Center text */
  border: solid 2px red;
  height: 50px;
  width: 50px;
}

/* Special spaces text */
.cell_style {
  /*  This part is so the text appears behind the tiles.
      Found at this stackoverflow post: https://stackoverflow.com/questions/19561585/how-to-make-div-go-behind-another-div
  */
  display: block;
  position: relative;
  z-index: 0;

  color: black;
  font-family: "Ubuntu";
  font-size: 80%;
  font-weight: bold;
  text-align: center;
}

/*
      Note that I made the "special tile" lettering appear as background images.
      If I tried doing plain old text, it LOOKED fine, until I tried dropping a
      tile onto a special tile. Then the tile would appear above the tile which
      is not what I wanted. The current behavior is much nicer, the tile appears
      over the droppable space, and no letters appear when this happens.
      I created these four images (double / triple ones) myself using GIMP.
      They are just 50px by 50px images with a colored background layer and
      a text field. The original template can be found in the /img/ folder as
      a .xcf file, "special_tile.xcf". You may edit this if you dislike my colors
      but you'll need to replace all the double / triple images if you do so, or
      copy my images if you just want to use this code.
*/

/* Double / Triple letter CSS */
.double_letter {
  /*background: #0080ff; */
  background: url("../img/scrabble/double_letter.png");
}

.triple_letter {
  /* background: blue;  */
  background: url("../img/scrabble/triple_letter.png");
}

/* Double / Triple word CSS */
.double_word {
  /*background: #e5acb6;*/
  background: url("../img/scrabble/double_word.png");
}

.triple_word {
  /*background: red;*/
  background: url("../img/scrabble/triple_word.png");
}

/**
 *      I did not create this star. I found it at this URL:
 *      http://vignette3.wikia.nocookie.net/fantendo/images/4/49/Super_Star_NSMB2.png/revision/20120731024244
 */
.star {
  /*background: #e5acb6;*/
  background: url("../img/scrabble/star.png");
}

/* The middle star's style. */
#star_img {
  /*  This chunk SOME HOW centers the image.
      I honestly just kept messing with the margin to force it to be as
      centered as I could tell.
      This post on Stackoverflow was the idea for that:
      https://stackoverflow.com/questions/10371355/css-how-to-vertically-and-horizontally-align-an-image
      ACTUALLY, this one worked better. The other post is a good reference too though!
      https://css-tricks.com/snippets/css/absolute-center-vertical-horizontal-an-image/
  */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;   /* These are half the high and width! */
  margin-top: -20px;

  height: 40px;
  width: 40px;
  z-index: 0;           /* This needs to be below the pieces z-index of 1. */
}

/* Need to figure out what this is for. */
.resize_board {
  height: 125px;
  width: auto;
}

.pieces {
  position: absolute;   /* Try absolute or relative and see what works. */
  height: 40px;
  width: 40px;
  z-index: 9999;           /*  THIS MUST BE LOWER THAN THE TARGET. PIECES IS DRAGGABLE, DROPPABLE TABLE IS THE TARGET.
                            URL FOR DETAILS: https://stackoverflow.com/questions/15712011/why-does-drag-go-behind-target-div */
}