/*
  File: /~eoleary/css/table.css
  Author: Evan O'Leary
  Contact: evan_oleary@student.uml.edu
  Created on: October 18, 2015 
  Updated on: November 19, 2015
  This file contains the styling information for the dynamic table in assignment 6 and 8.
*/
html{
    font-size: 12px;
}

body{
    padding:0;
    margin:0;
    background-color: #eee; /*gray/white*/
    color:#000;
    font-family:"Bitstream Vera Sans",Verdana,Arial,sans-serif;
    min-width:780px;
    margin:auto;
}

#allcontent {
    width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eee;  /* grey/white */
    margin-left: auto;
    margin-right: auto;
}

/*styling to make input boxes line up vertically and put spacing between the sliders*/
input{
    display: inline-block;
    margin-right: 500px;
    margin-top: 6px;
    margin-bottom: 6px;
    float: right;
    width: 75px;
}

/*styling for the clear button*/
input[type = "submit"]{
    clear: right;
    float: left;
    margin-left: 217px;
    margin-top: -5px; 
}

label{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 6px;
}

/*
    This is for the error messages that the jQuery plugin generates
*/
.error {
  color: red;
  font-style: italic;
  font-size: small;
  text-align: center;
}

/*  When an input is invalid, the jQuery Validation Plugin adds the class "error"
    to the input. So why not make it obvious to the user which inputs aren't valid
    by making a red border around the input? As soon as the input is valid this will
    disappear since the jQuery plugin wil remove the class "error".  */
input.error {
  border: 2px solid red;
}


#tabs{
    margin-top: 20px;
}

/*styling for the clear button*/
#clear{
    display: inline-block;
    float: left;
    margin-top: 0px;
    margin-left: 217px;
}

/*positioning for sliders*/
#rowStartSlider,#rowEndSlider,#colStartSlider,#colEndSlider{
    display: inline-block;
    margin-left: 217px; 
    height: 10px;
    width: 200px;
}

#right{
    display: inline-block;
}

#left{
    overflow: auto;
    display: inline-block;
    margin-top: 20px;
}

/*places table below form and adds scroll bar if table overflows*/ 
#table{
    overflow: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 750px;
    clear: both; /*clear floats, place div below*/
}

/*show single border around cells instead of individual boxes*/
table{
    border-collapse: collapse;
}

/*format data cells*/
td{
    color: #000000; /*black*/
    width: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

/*styles the first row of data*/
.topRow{
    font-weight: 600;
    text-align: center;
    border-style: solid;
    border-width: 1px; 
    border-left-color: #FFFFFF; /*white*/
    border-top-color: #000000; /*black*/
    border-bottom-color: #000000; /*black*/
    background-color: #000000; /*black*/
    color: #FFFFFF; /*white*/
}

/*styles first column of data*/
tr td:first-child{
    font-weight: 600;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-left-color: #000000; /*black*/
    border-right-color: #000000; /*black*/
    border-top-color: #000000; /*black*/
    border-bottom-color: #FFFFFF; /*white*/
    background-color: #000000; /*black*/
    color: #FFFFFF; /*white*/
}


/*styles the first cell in the first row*/
tbody tr:first-child td:first-child {
    background-color: #FFFFFF; /*white*/
    border-style: solid;
    border-bottom-width: 1px;
    border-top: none; /*no border*/
    border-left: none; /*no border*/
    border-bottom-color: #000000; /*black*/ 
    opacity: 0; /*makes the box the color of the background because it is transparent*/
}

/*styles the last cell in the first row*/
tbody tr:first-child td:last-child {
    background-color: #000000; /*black*/
    border-style: solid;
    border-bottom-width: 1px;
    border-top-color: #000000; /*black*/
    border-left-color: #FFFFFF; /*white*/
    border-right-color: #000000; /*black*/
    border-bottom-color: #000000; /*black*/ 
}

/*styles the cell in the first column*/
tbody tr:last-child td:first-child {
    background-color: #000000; /*black*/
    border-style: solid;
    border-bottom-width: 1px;
    border-top-color: #FFFFFF; /*white*/
    border-left-color: #000000; /*black*/
    border-right-color: #000000; /*black*/
    border-bottom-color: #000000; /*black*/ 
}