/*
  File: /~eoleary/css/mystyle.css
  Author: Evan O'Leary
  Contact: evan_oleary@student.uml.edu
  Created on: September 10, 2015 
  Updated on: October 4, 2015
  This file contains the styling information for my GUI Programming I website.
*/

/*
   Reset default browser CSS.
   
   Based on work by Eric Meyer:
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
        outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img { border: none; }

/* =Global Elements
-------------------------------------------------------------- */
/*Base styling if browsers don't support additional css*/
body, input, textarea {
    font: 13px Georgia,serif,Times;
    line-height:22px;
}
p, ul, ol, dd, pre {
    margin-bottom:14px;
}
pre, code {
	font:14px Monaco, monospace;
	line-height:22px;
}
blockquote {
    color:#666;
    font-style:italic;
}
table {
    border:1px solid #ccc;
    border-width:1px 1px 0 1px;
    font-size:13px;
    line-height:18px;
    margin:0 0 22px 0;
    text-align:left;
}
caption {
    text-align:left;
}
tr {
    border-bottom:1px solid #ccc;
}
th, td {
    padding: .7em 1.25em;
}
hr {
    background-color:#ccc;
    border:0;
    color:#ccc;
    height:1px;
    margin-bottom:22px;
}
a:link {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:active,
a:hover {
    color: #5e5e5e;
}


/*Typography*/
/*------------------------------------------------------------ */

/*Base formatting for headers, menus, and text modifiers text*/

body, input, textarea {
    color:#000;    
    font: 12px Arial,sans-serif;
    line-height:18px;
}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { 
	font-weight:normal;
	/*clear: both;*//*If this option is used with header next to image the 
                          text will appear under the image, therefore I didn't use*/
	text-transform: uppercase;
}

/* Text elements
-------------------------------------------------------------- */

p {
    margin-bottom:18px;
}
ul {
	margin: 0 0 18px 2.5em;
}
ol {
	margin: 0 0 18px 2.5em;
}
ul {
	list-style:disc;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom:0;
}
dl	{
    margin:0 1.5em;
}
dt {
    font-weight:bold;
}
dd {
	margin-bottom:18px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style:normal;
}
pre {
	font:11px Monaco, monospace;
	line-height:18px;
	margin-bottom:18px;
}
code {
	font:11px Monaco, monospace;
}
abbr, acronym {
  border-bottom:1px dotted #333;
  cursor: help;
}
ins {
	text-decoration:none;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Pullquotes
-------------------------------------------------------------- */

blockquote.left {
	float: left;
	margin-left:0;
	margin-right:20px;
	text-align: right;
	width: 33%;
}
blockquote.right {
	float: right;
	margin-left:20px;
	margin-right:0;
	text-align: left;
	width: 33%;
}


/*Header
----------------------------------------------------------------------------------------------------*/
/*index indicates what priority objects have on the page can be used to impose a picture in the background of text*/
#header {
    z-index:2;
}
#branding {
    padding:44px 0px 44px 0px;
}
/*Title styling, including formattting the hover option on the title  */
#title {
    font-family:Arial,sans-serif;
    font-size:36px;
    font-weight:bold;
    line-height:36px;
    padding:0px 0px 0px 10px;
}
#title a {
    color:#000;
    text-decoration:none;
}
#title a:active,
#title a:hover {
    color: #5e5e5e;
}
/*Formats the smaller subtitle under the main title*/
#description {
    color:#000;
    font-size:13px;
    font-weight: normal;
    text-transform: none;
    padding:0px 0px 0px 5px;
}
/* =Menu
-------------------------------------------------------------- */
/*Gives a base menu style and defines how the actions, such as drop down menu will work*/
.skip-link {
    display:none;
}
#menu {
    /*border-bottom:1px solid #ccc;*/
    border-bottom:1px dotted #5e5e5e;
    height:20px;
    font-size:13px;
    overflow:visible;
    z-index:100;
    padding:0px 10px 7px 10px;
    
}
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}


/*** THEMATIC SKIN ***/
/*Styles the menu and drop down menus*/
.sf-menu {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
	float:left;
	
}
.sf-menu a {
	text-decoration:none;
	margin-right: 1px;
	margin-left: 1px;
	padding: 5px 7px;
}

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
   color: #000;
   font-weight: bold;
}

.sf-menu li li a, .sf-menu li li a:visited  { /* visited pseudo selector so IE6 applies text colour*/
   color: #000;
   font-weight: normal;
}


.sf-menu .current_page_item a,
.sf-menu .current_page_ancestor a,
.sf-menu .current_page_parent a {
    color: #fff;
	background: #5e5e5e;	
	font-weight: normal;
	font-style: italic;
	text-transform: none;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* submenus are different */
.sf-menu .current_page_item ul a,
.sf-menu .current_page_ancestor ul a,
.sf-menu .current_page_parent ul a {
    color: #000;
    /*background:#fafafa;*/
    background: #fff;    
}

.sf-menu li {	
	text-transform: uppercase;
}

.sf-menu li li {
	padding-top: 3px;
	padding-bottom: 3px;
	background: #fff;

	font-weight: normal;
	font-style: italic;
	text-transform: none;
	font-family: Georgia, "Times New Roman", Times, serif;	
}

.sf-menu li li li {
	background:		#9AAEDB;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	/*outline:		0;*/
    /*border-bottom-color:#ccc;*/
    /*border-bottom-color:#F00;*/
}
.sf-menu ul {
	border-top: 1px solid #fff;
	border-bottom: 1px dotted #5e5e5e;
	border-left: 1px dotted #5e5e5e;
	border-right: 1px dotted #5e5e5e;	
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	top:27px; /* overriding essential styles */
}
.sf-menu ul ul {
    margin-top:0;
}
.sf-menu ul a {
    background:#fff;
    border-bottom:none;
}
.sf-menu ul a:hover {
    color: #5e5e5e;
}

/* =Content
-------------------------------------------------------------- */
/*Styles the main content of the page  */
#main {
    clear:both;
    padding:44px 10px 0px 10px;
}
.page-title {
    font-size:13px;
    line-height:18px;
    padding:0 0 44px 0;
}
.attachment .page-title {
    font-style:italic;
}
.page-title a {
    color:#666;
    text-decoration:none;
}
.page-title a:active,
.page-title a:hover {
    color: #5e5e5e;
}
.page-title span {
    font-style:italic;
}
.page-title .meta-nav {
    font-style:normal;
}
.hentry {
    padding:0 0 22px 0;
}
.single .hentry {
    padding:0;
}
.home #content .sticky {
    border:1px solid #ccc;
    margin:0 0 66px 0;
    padding:22px 20px 0 20px;
}
.entry-title {
    font-family:Arial,sans-serif;
    font-size:26px;
    font-weight:bold;
    line-height:26px;
    padding:0 0 7px 0;
}
.entry-title a {
    color:#000;
    text-decoration:none;
}
.entry-title a:active,
.entry-title a:hover {
    color: #5e5e5e;
}
.entry-meta {
    color:#666;
    font-size:13px;
    font-style:italic;
    line-height:18px;
}
.entry-meta .author {
}
.entry-meta .n {
    font-size:11px;
    font-style:normal;
    letter-spacing:0.05em;
    text-transform:uppercase;
}
.entry-meta a {
    color:#666;
    text-decoration:none;
}
.entry-meta a:active,
.entry-meta a:hover {
    color: #5e5e5e;
}
.entry-meta abbr {
    border:none;
    cursor:text;
    font-size:11px;
    font-style:normal;
    letter-spacing:0.05em;
    text-transform:uppercase;
}

/*Styles the headers on tops of page*/
.entry-content {
    padding:7px 0 0 0;
}

.entry-content a {
	border-bottom: 1px dotted #5e5e5e;
}

.entry-content h1
{
    font-family:Arial,sans-serif;
    font-size:18px;
    font-weight:bold;
    padding:28px 0 14px 0;		
}

.entry-content h2 {
    font-family:Arial,sans-serif;
    font-size:16px;
    font-weight:bold;
    padding:14px 0 7px 0;
}
.entry-content h3 {
    font-size:16px;
    font-family:Arial,sans-serif;
    padding:7px 0 4px 0;
	text-transform: none;
}
.entry-content h4 {
    font-size:11px;
    font-family:Arial,sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.05em;
}
.entry-content table {
    margin-left:1px;
}
.entry-content embed {
    margin:0 0 22px 0;
}
.entry-utility {
    color:#666;
    font-size:13px;
    line-height:18px;
    margin:0 0 44px 0;
}
.entry-utility a {
    color:#666;
    font-style:italic;
    text-decoration:none;
}
.entry-utility a:active,
.entry-utility a:hover {
    color: #5e5e5e;
}
.page-link {
    font-size:13px;
    font-weight:bold;
    line-height:18px;
    margin:0 0 22px 0;
    padding:22px 0 0 0;
    word-spacing:0.5em;
}
.page-link a {
    border:1px solid #ccc;
    color:#666;
    font-weight:normal;
    padding:0.5em 0.75em;
    text-decoration:none;
}
.page-link a:active,
.page-link a:hover {
    color: #5e5e5e;
}
ul#links-page,
ul#archives-page {
    list-style:none;
    margin-left:0;
    overflow:hidden;
}
li.content-column {
    float:left;
    margin-right:20px;
    width:45%;
}
.gallery {
    padding:0 0 22px 0;
}
.wp-caption-text,
.gallery-caption {
    color:#666;
    font-size:13px;
    line-height:18px;
}
#author-info {
    margin:0 0 44px 0;
    overflow:hidden;
}
#author-info .avatar {
    float:left;
    margin:.3em 1em 0 0;
}
/*Aligns the image, including putting a border around the image*/
.entry-content img {
    margin: 0 0 18px 0;
    max-width:100%;
}
.alignleft,
img.alignleft {
	float: left;
    margin-right:20px;
}
.alignright,
img.alignright {
	display: block;
	float: right;
    margin-left:20px;
}
.aligncenter,
img.aligncenter {
	margin-left:auto;
	margin-right:auto;
	display: block;
	clear: both;
}
.wp-caption {
	text-align: center;
	margin-bottom:18px;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	margin: 0;
	padding:5px;
}
.gallery img {
    margin:0;
}
.wp-smiley { /* Prevent the smileys from breaking line-height */
	max-height:12px;
	margin:0 !important;
}

.entry-content img {
    margin: 0 0 18px 0;
    padding: 2px;
    border: 1px solid #7e7e7e;
    border-bottom: 1px solid #5e5e5e;
}
.alignleft,
img.alignleft {
	float: left;
    margin-right:20px;
}
.alignright,
img.alignright {
	display: block;
	float: right;
    margin-left:20px;
}
.aligncenter,
img.aligncenter {
	margin-left:auto;
	margin-right:auto;
	display: block;
	clear: both;
}
.wp-caption {
	text-align: center;
	margin-bottom:18px;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	margin: 0;
	padding:5px;
}
.gallery img {
    margin:0;
}
.wp-smiley { /* Prevent the smileys from breaking line-height */
	max-height:12px;
	margin:0 !important;
}
